SECRET_KEY=sua-chave-secreta-aqui-troque-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=uidcore
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOW_ALL_ORIGINS=True
